---
title: Mes accompagnements | Chloé Roussel - Sophrologue à Nantes et en visio
---

<%= partial "partials/menu" %>

<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Déroulé d'une séance</h1>
        </div>
      </div>
    </div>
    <div class="hidden lg:block -ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <%= image_tag "accompagnement_default.webp", class: "w-[30rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10", alt: "illustration" %>

      <div class="mt-10 flex items-center gap-x-6">
        <a href="/calendrier?utm_source=chloesophro&utm_content=accompagnement-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
          <%= data.hero.primary_action %>
        </a>
        <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
          Voir les avis
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-teal-600">
            Le choix du lieu se fait au moment de la réservation en ligne (cabinet, visio ou à domicile).
          </p>

          <h2 class="mt-3 text-2xl font-bold tracking-tight text-gray-900">Première séance</h2>
          <p class="text-base font-semibold leading-7 text-teal-600">Durée 1h30</p>
          <p class="mt-6">
            Durant cette séance découverte, mon attention sera entièrement portée sur vous. J'utiliserai
            une écoute active et des questions pour comprendre les différentes composantes de votre histoire et
            ainsi identifier des éléments pertinents pour notre travail ensemble.
          </p>
          <p class="mt-3">
            Mon objectif sera de vous aider à définir ce que vous désirer réellement, quel objectif vous souhaitez
            atteindre en travaillant avec moi et quelles sont vos attentes vis-à-vis de notre collaboration.
          </p>
          <p class="mt-3">
            Ce dialogue me permettra de comprendre ce qui vous retient et quel chemin vous souhaitez emprunter afin
            de vous proposer un accompagnement personnalisé et adapté à vos besoins.
          </p>

          <h2 class="mt-12 text-2xl font-bold tracking-tight text-gray-900">Séances de suivi</h2>
          <p class="text-base font-semibold leading-7 text-teal-600">Durée 1h00</p>
          <p class="mt-6">
            Les séances à venir seront adaptées en fonction de votre progression et des vos apprentissages en me
            conformant à votre rythme tout en maintenant une focalistation sur votre objectif d'accomplissement.
          </p>
          <p class="mt-3">
            Nous commencerons chaque séance par un temps d'échange afin d'évaluer les potentiels changements que
            vous auriez pu observer depuis la séance précédente et discuter de vos préoccupations actuelles.
          </p>
          <p class="mt-3">
            Nous passerons ensuite à la pratique&nbsp;: tapotages en EFT et exercices de relaxation dynamique et
            guidée en sophrologie.
          </p>

          <h2 class="mt-12 text-2xl font-bold tracking-tight text-teal-800">
            Bonus <i class="fa-duotone fa-stars text-yellow-300"></i>
          </h2>
          <p class="mt-6 font-semibold text-teal-900">
            Vous recevez après chaque séance un livret d'accompagnement ou un protocole à refaire à la maison afin de
            pouvoir cheminer entre chaque séance.
          </p>
        </div>
      </div>
    </div>

    <div class="mt-10 flex items-center gap-x-6 lg:hidden">
      <a href="/calendrier?utm_source=chloesophro&utm_content=accompagnement-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
        <%= data.hero.primary_action %>
      </a>
      <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
        Voir les avis
        <i class="fa-regular fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
