---
title: Sophrologie | Chloé Roussel - Sophrologue à Nantes et en visio
---

<%= partial "partials/menu" %>

<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sophrologie</h1>
        </div>
      </div>
    </div>
    <div class="hidden lg:block -ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <%= image_tag "acc_sophro.webp", class: "w-[30rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10", alt: "illustration" %>

      <div class="mt-10 flex items-center gap-x-6">
        <a href="/calendrier?utm_source=chloesophro&utm_content=sophrologie-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
          <%= data.hero.primary_action %>
        </a>
        <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
          Voir les avis
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">
            Rénouez avec vos ressentis émotionnels, corporels et mentaux
            et disposez d'outils simples et personalisés dans votre quotidien.
          </h2>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Où se déroulent les séances&nbsp;?
            </dt>
            <dd>
              Au cabinet, en visioconférence ou à domicile.
            </dd>
          </dl>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Durée d'une séance&nbsp;?
            </dt>
            <dd>
              La première séance dure 1h30 puis les suivantes 1h.
            </dd>
          </dl>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Pour quelles raisons consulter&nbsp;?
            </dt>
            <dd>
              Je suis spécialisée dans&nbsp;:
              <ul class="list-inside list-disc">
                <li class="font-semibold">
                  Les Troubles anxieux
                  <ul class="ml-4 list-inside text-base font-normal" style="list-style-type: circle">
                    <li>Stress, anxiété chronique</li>
                    <li>Burn-out (travail et parental)</li>
                    <li>Crises d'angoisse</li>
                    <li>Problèmes de sommeil</li>
                    <li>Phobie sociale</li>
                  </ul>
                </li>
                <li class="font-semibold">
                  Préparation mentale
                  <ul class="ml-4 list-inside text-base font-normal" style="list-style-type: circle">
                    <li>Tennis</li>
                    <li>Préparation des examens (scolarité, permis de conduire, concours)</li>
                    <li>Prise de parole en public</li>
                  </ul>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Pour quels résultats&nbsp;?
            </dt>
            <dd>
              Soulagements dès les premières séances.
            </dd>
          </dl>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Combien de séances sont nécessaires&nbsp;?
            </dt>
            <dd>
              Entre 3 et 10 séances en fonction de votre objectif.
            </dd>
          </dl>
          <dl class="mt-6">
            <dt class="text-base font-semibold leading-7 text-teal-600">
              Tarif d'une séance&nbsp;?
            </dt>
            <dd>
              65€ par séance. Je vous invite à vous rapprocher de votre mutuelle
              pour connaître les modalités de prise en charge.
            </dd>
          </dl>

          <h2 class="mt-12 text-2xl font-bold tracking-tight text-teal-800">Bonus <i class="fa-duotone fa-stars text-yellow-300"></i></h2>
          <p class="mt-6 font-semibold text-teal-900">
            Livret d'accompagnement offert après chaque séance comprenant
            des rituels de sophrologie, des podcasts, des vidéos en lien
            avec le thème de la séance du jour.
          </p>
        </div>
      </div>
    </div>

    <div class="mt-10 flex items-center gap-x-6 lg:hidden">
      <a href="/calendrier?utm_source=chloesophro&utm_content=sophrologie-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
        <%= data.hero.primary_action %>
      </a>
      <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
        Voir les avis
        <i class="fa-regular fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
