<section id="contact"
  class="bg-no-repeat bg-cover bg-center overflow-hidden"
  style="background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(<%= image_path "bg-contact.webp" %>)">
  <div class="mx-auto max-w-7xl px-6 py-20 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
      <h2 class="max-w-2xl text-4xl font-bold tracking-tight text-teal-900 sm:text-6xl lg:col-span-2 xl:col-auto">
        Une question ?
      </h2>
      <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
        <div class="mt-10 space-y-8">
          <a href="tel:+33643280869" class="text-base sm:text-lg font-semibold flex items-baseline gap-x-3 text-gray-600">
            <i class="fa-regular fa-phone fa-xl text-teal-600"></i>
            <span>06 43 28 08 69</span>
          </a>
          <a href="mailto:chloeroussel.sophrologie@gmail.com" class="text-base sm:text-lg font-semibold flex items-baseline gap-x-3 text-gray-600">
            <i class="fa-regular fa-envelope fa-xl text-teal-600"></i>
            <span>chloeroussel.sophrologie@gmail.com</span>
          </a>
        </div>

        <h3 class="mt-10 max-w-xl text-2xl font-bold tracking-tight text-teal-800 sm:text-4xl">Le cabinet</h3>

        <iframe title="Carte Google" class="mt-6 hidden sm:block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84248.42256546897!2d-1.583848524231259!3d47.218357738112196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ef397edad695%3A0x3e956570b01878c4!2sCHLOE%20ROUSSEL%20SOPHROLOGUE%2C%20praticienne%20EFT%2C%20sp%C3%A9cialis%C3%A9e%20dans%20les%20troubles%20anxieux%20et%20la%20pr%C3%A9paration%20mentale!5e0!3m2!1sfr!2sfr!4v1681327317144!5m2!1sfr!2sfr" width="576" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe title="Carte Google" class="mt-6 block sm:hidden" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84248.42256546897!2d-1.583848524231259!3d47.218357738112196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ef397edad695%3A0x3e956570b01878c4!2sCHLOE%20ROUSSEL%20SOPHROLOGUE%2C%20praticienne%20EFT%2C%20sp%C3%A9cialis%C3%A9e%20dans%20les%20troubles%20anxieux%20et%20la%20pr%C3%A9paration%20mentale!5e0!3m2!1sfr!2sfr!4v1681327317144!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="text-base leading-7 text-gray-600 mt-10 w-full max-w-xl rounded-2xl sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36 bg-white shadow p-4 sm:p-8">
        <div class="sm:flex">
          <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
            <%= image_tag "avatar-chloe.webp", class:"inline-block h-16 w-16 rounded-full", alt: "Avatar de Chloé" %>
          </div>
          <div>
            <h4 class="text-lg font-bold text-teal-800">Chloé Roussel</h4>
            <h5 class="font-medium text-gray-600">Thérapeute</h5>
            <p class="mt-6">
              Après plusieurs années passées en entreprise dans le développement commercial, j’ai décidé d’écouter mes aspirations profondes et de me tourner vers un métier qui m’a toujours attiré : celui de thérapeute.
            </p>
            <p class="mt-6">
              Tournée vers le développement personnel et les soins énergétiques, j’ai décidé de me former à la sophrologie et à l’EFT afin d’avoir des outils concrets, rapides et efficaces pour cheminer vers un mieux être et être acteur de sa guérison.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
