<section id="contact"
  class="bg-no-repeat bg-cover bg-center overflow-hidden"
  style="background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(<%= image_path "bg-contact.webp" %>)">
  <div class="mx-auto max-w-7xl px-6 py-20 sm:py-32 lg:px-8 flex justify-center">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="max-w-2xl text-4xl font-bold tracking-tight text-teal-900 sm:text-6xl lg:col-span-2 xl:col-auto">
        Une question ?
      </h2>
      <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
        <div class="mt-10 space-y-8">
          <a href="tel:+33643280869" class="text-base sm:text-lg font-semibold flex items-baseline gap-x-3 text-gray-600">
            <i class="fa-regular fa-phone fa-xl text-teal-600"></i>
            <span>06 43 28 08 69</span>
          </a>
          <a href="mailto:chloeroussel.sophrologie@gmail.com" class="text-base sm:text-lg font-semibold flex items-baseline gap-x-3 text-gray-600">
            <i class="fa-regular fa-envelope fa-xl text-teal-600"></i>
            <span>chloeroussel.sophrologie@gmail.com</span>
          </a>
        </div>

        <h3 class="mt-10 max-w-xl text-2xl font-bold tracking-tight text-teal-800 sm:text-4xl">Le cabinet</h3>

        <div class="bg-white sm:rounded-2xl mt-6 overflow-hidden w-96">
          <iframe title="Carte Google" class="w-96 h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84248.42256546897!2d-1.583848524231259!3d47.218357738112196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ef397edad695%3A0x3e956570b01878c4!2sCHLOE%20ROUSSEL%20SOPHROLOGUE%2C%20praticienne%20EFT%2C%20sp%C3%A9cialis%C3%A9e%20dans%20les%20troubles%20anxieux%20et%20la%20pr%C3%A9paration%20mentale!5e0!3m2!1sfr!2sfr!4v1681327317144!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <p class="m-4 text-sm text-gray-600">
            <i class="fa-duotone fa-location-dot text-teal-600 mr-2"></i>
            100 Rue du Coudray, 44000 Nantes
          </p>
          <div class="mt-4 w-96">
            <%= image_tag "cabinet.webp", class:"inline-block", alt: "Le cabinet" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
