<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex justify-center space-x-10">
      <% data.features.items.each do |feature| %>
        <%= partial "partials/feature", locals: { feature: feature } %>
      <% end %>
    </div>
  </div>
</div>
