<section class="bg-teal-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-4">
        <div class="rounded-3xl overflow-hidden bg-teal-50 shadow-2xl hidden md:block md:max-w-md lg:max-w-lg">
          <%= image_tag "tennis.webp", class: "object-cover" %>
        </div>
      </div>
      <div>
        <div class="text-base leading-7 text-gray-200 lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-teal-300">Spécial sportifs</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-teal-50 sm:text-4xl">Préparation mentale dans le sport</h1>
          <div class="max-w-xl">
            <p class="mt-6">
              Ancienne joueuse de tennis en seconde série et ayant expérimenté plus de 10 années en tournois, je connais la difficulté de ne pas se laisser envahir par des pensées parasites ou par des émotions qui rendent le jeu beaucoup moins ludique et efficace.
            </p>
            <p class="mt-8">
              Je conçois des protocoles sur mesure en individuel ou à destination de groupes, à tout sportif souhaitant passer un à palier supérieur grâce à la préparation mentale avec la sophrologie.
            </p>
            <h3 class="mt-8 text-2xl font-bold tracking-tight text-teal-50">
              Au programme
            </h3>
            <ul class="mt-4 list-inside list-disc">
              <li>Techniques de visualisation</li>
              <li>Geste signal</li>
              <li>Déprogrammation de souvenirs négatifs</li>
              <li>Activation des pensées positives</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
