<section id="avis" class="lg:p-x8 bg-white px-6 py-24 sm:py-32">
  <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
    <!-- previous button -->
    <button id="previous-testimonial" class="absolute top-1/2 ml-10 left-0 transform -translate-y-1/2 -translate-x-1/2">
      <i class="fa-solid fa-chevron-left"></i>
    </button>

    <!-- next button -->
    <button id="next-testimonial" class="absolute top-1/2 mr-10 right-0 transform -translate-y-1/2 translate-x-1/2">
      <i class="fa-solid fa-chevron-right"></i>
    </button>

    <div data-target="testimonials" class="flex w-full overflow-x-auto">
      <% data.testimonials.items.each do |testimonial| %>
        <div class="min-w-full inline-flex">
          <figure class="mx-auto max-w-2xl">
            <p class="sr-only">5 out of 5 stars</p>
            <div class="flex gap-x-1 text-yellow-400">
              <% testimonial.stars.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% (5 - testimonial.stars).times do %>
                <i class="fa-light fa-star"></i>
              <% end %>
            </div>
            <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-teal-900 sm:text-2xl sm:leading-9">
              <p>“<%= testimonial.description %>”</p>
            </blockquote>
            <figcaption class="mt-10 flex items-center gap-x-6">
              <img class="h-12 w-12 rounded-full bg-gray-50" src="<%= testimonial.photo_url%>" alt="Testimonial user picture">
              <div class="text-sm leading-6">
                <div class="font-semibold text-teal-900"><%= testimonial.name %></div>
                <div class="mt-0.5 text-gray-600">
                  Visité en <%= testimonial.date %>
                  <a class="font-semibold text-blue-600" href="https://goo.gl/maps/rsZDeyW3tpHJojE99" target="_blank" rel="noopener noreferrer">
                    Avis Google
                    <i class="fa-regular fa-arrow-up-right-from-square"></i>
                  </a>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</section>
