<div class="text-base leading-7 text-gray-600 mt-10 w-full max-w-xl rounded-2xl sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36 bg-white shadow p-4 sm:p-8">
  <div class="sm:flex">
    <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
      <%= image_tag "avatar-chloe.webp", class:"inline-block h-16 w-16 rounded-full", alt: "Avatar de Chloé" %>
    </div>
    <div>
      <h4 class="text-lg font-bold text-teal-800">Chloé Roussel</h4>
      <h5 class="font-medium text-gray-600">Thérapeute</h5>
      <p class="mt-6">
        Je suis une thérapeute passionnée et engagée :
      </p>
      <p class="mt-6">
        Mon objectif est de vous accompagner dans votre cheminement personnel, en vous aidant à trouver les
        outils et les ressources dont vous avez besoin pour atteindre votre bien-être émotionnel et physique.
      </p>
      <p class="mt-6">
        Grâce à mes formations et à ma pratique, j'ai développé une approche personnalisée qui prend en compte
        votre histoire personnelle et vos objectifs.
      </p>
      <p class="mt-6">
        Contactez-moi pour en savoir plus sur mes services et pour commencer votre parcours vers la guérison et
        l'épanouissement personnel.
      </p>
      <p class="mt-6">
        Mes formations :
        <ul class="ml-4 list-disc">
          <li>Sophrologue (IFS : Ecole de Formation à la sophrologie à Nantes, Titre RNCP)</li>
          <li>
            Praticienne EFT (Formation par Alain Maria, Praticien EFT, sophro-analyste et Docteur en Pharmacie à
            Rezé lui-même formé par Caroline Dubois et Jean-Michel Gurret : Fondateur et Président de l'Institut
            Francophone de Psychothérapie Émotionnelle et Cognitive)
          </li>
          <li>Reiki 1e et 2e degré (Formation par Dominique Maisonneuve, Maitre Reiki à Nantes)</li>
        </ul>
      </p>
    </div>
  </div>
</div>
